


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Form</title>

    <link href="~/CustomScript/Login_SignUpStyleSheet.css" rel="stylesheet" />
</head>
<body>

    <h3 class="text-danger font-bold">Access Denied! You Have Not Given To Access This Page</h3>

</body>
</html>
