@using Entities.ViewModel.Identity.UserVM
@model UserUpdateVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-controller="User" asp-action="Update" asp-area="Admin" method="post">

    <input type="hidden" asp-for="Id" >
    <input type="hidden" asp-for="RowVersion">


    <div>



        @if (ViewData["error"]?.ToString() != null)
        {
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    <div asp-validation-summary="All"></div>
                </div>
            </div>
        }
        <br />

        <div class="row">

            <div class="col-6">
                <input type="text" asp-for="UserName" class="form-control" placeholder="Enter UserName ">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>


        </div>
        <br />
        <div class="row">

            <div class="col-12">
                <input type="email" asp-for="Email" class="form-control" placeholder="Enter  Email ">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">

            <div class="col-12">
                <input type="text" asp-for="PasswordHash" class="form-control" placeholder="Enter Password ">
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <input type="text" asp-for="Status" class="form-control" placeholder="Enter  Status ">
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

        </div>

        <br />
        <div class="row col-6">
            <button type="submit" class="btn btn-primary">Update User</button>

        </div>
        <br />

    </div>



</form>





